#drawing-table {
    /*position:absolute;*/
    /*left: 0px;*/
    /*top: 20px;*/
    table-layout: fixed;
    width: 650px;
    height: 650px;
    border-collapse: collapse;
}

#drawing-table td {
    border: 1.5px solid #b3b3b3;
}

body {
    font: 1em Arial, serif;
    text-align: center;
}

h4{
    font: 1.5em Arial, serif;
}
.demonstrateHealth{
    font: 1.2em Arial, serif;
}

.bg {
    /* The image used */
    /*background-image: url("spaceship.jpg");*/

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.button{
    display: inline-block;
}

.btn-group button {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack)*/
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}

