<!DOCTYPE html>

<body align="center">
<div class="bg"></div>
<!--<p><img src="a.jpg"></p>-->
<h1>spaceraze</h1>
<div class="row">
     <br> <br>

    <div align="center" class="col-sm-8">
        <table id="drawing-table">
            <tr *ngFor="let row of battleField?.rowGrid">
                <td *ngFor="let content of row" [ngStyle]="{backgroundColor: content.color ? content.color : 'white'}">&nbsp;</td>
            </tr>
        </table>
        <br>
    </div>
    <br>

    <div align = "center" id="Health" class="btn-group-vertical col-sm-3" role="group" aria-label="..." *ngFor="let ship of allBattleShip; let i = index" [attr.data-index]="i">
        <h3> PLAYER {{i+1}} </h3>

        <p class="demonstrateHealth">Attack: {{ship.shipStats.attack}} <br> Attack Range: {{ship.shipStats.attackRange}} <br> Sonar Range: {{ship.shipStats.range}} <br> Defence: {{ship.shipStats.defence}}</p>
        <table id="health-table">
            <tr [ngStyle]="{backgroundColor: ship.colorFront}">
                <td>{{ship.shipDepartment.departmentArray[2].health}} </td>
                <td>{{ship.shipDepartment.departmentArray[3].health}} </td>
            </tr>
            <tr [ngStyle]="{backgroundColor: ship.colorBack}">
                <td>{{ship.shipDepartment.departmentArray[1].health}} </td>
                <td>{{ship.shipDepartment.departmentArray[0].health}} </td>
            </tr>
        </table>
        <br>
    </div>
    <br><br><br>

    <div *ngFor="let ship of allBattleShip; let i = index" [attr.data-index]="i">
        <div><button type="button" class="Player_Select" *ngIf="showButton === ''" (click)="showDiv(i)" [ngStyle]="{ 'background': ship.colorBack}">{{i+1}} </button></div>
    <div id="welcomeDiv" *ngIf="showButton === ship.shipId">

        <div id="Player" [ngStyle]="{ 'background': ship.colorBack}"> PLAYER {{i+1}} <p><br></p>
             <div *ngFor="let intent of intentArray" >
            {{intent}}
            </div>
        </div>
        <p><br></p>

        <button  type="button" class="Buttons "  [disabled]="intentArray.length>=3" id="shoot" (click)="inputShoot(ship)" [ngStyle]="{ 'background': ship.colorBack }"> Shoot </button><br>
        <button  type="button" class="Buttons "  [disabled]="intentArray.length>=3" id="move1" (click)="inputMove(ship)" [ngStyle]="{ 'background': ship.colorBack }"> Move </button><br>
        <button  type="button" class="Buttons " [disabled]="intentArray.length>=3" id="left1" (click)="inputRotateLeft(ship)" [ngStyle]="{ 'background': ship.colorBack }"> Turn Left </button>
        <button  type="button" class="Buttons " [disabled]="intentArray.length>=3" id="right1" (click)="inputRotateRight(ship)" [ngStyle]="{ 'background': ship.colorBack }"> Turn Right </button>
        <!--<button  type="button" class="Buttons "  id="rp" (click)="relativePosition(ship)" [ngStyle]="{ 'background': ship.colorBack }"> RP </button>-->
        <br>
        <button  type="button" class="Buttons " [disabled]="intentArray.length>=3" id="ShieldFront" (click)="inputShieldUp(ship)" [ngStyle]="{ 'background': ship.colorBack }">Shield Front </button><br>
        <button  type="button" class="Buttons " [disabled]="intentArray.length>=3" id="ShieldLeft" (click)="inputShieldLeft(ship)" [ngStyle]="{ 'background': ship.colorBack }"> Shield Left </button>
        <button  type="button" class="Buttons " [disabled]="intentArray.length>=3" id="ShieldRight"(click)="inputShieldRight(ship)" [ngStyle]="{ 'background': ship.colorBack }"> Shield Right</button><br>
        <button  type="button" class="Buttons " [disabled]="intentArray.length>=3" id="ShieldBack" (click)="inputShieldDown(ship)" [ngStyle]="{ 'background': ship.colorBack }"> Shield Back </button><br>
        <button  type="button" class="Buttons " id="Done"(click)="fullTurns(ship)" [ngStyle]="{ 'background': ship.colorFront}"> Done</button>
        </div>
    </div>

</div>
</body>