<!--<head>-->
    <!--<h1 align="center">AI SOCIAL GAME</h1>-->
    <!--<title>AI SOCIAL GAME</title>-->
    <!--<link rel="stylesheet" type = "text/css" href= "grid.css" />-->
    <!--&lt;!&ndash; Latest compiled and minified CSS &ndash;&gt;-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->

    <!--&lt;!&ndash; Optional theme &ndash;&gt;-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->


    <!--<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>-->
    <!--<script src='Test.js'>  </script>-->
<!--</head>-->
<body align="center">
<h1>AI Social Game</h1>
<div class="row">
    <label for="player" class="col-md-8 col-offset-2">Number of players</label>
    <input type="number" class="col-md-4 form-control" id="player" #player>
    <button  type="button" class="btn btn-default " (click)="start(player.value)"> START </button><br>
    <br>

    <div  role="group" aria-label="..." *ngFor="let ship of allBattleShip; let i = index" [attr.data-index]="i">
        <h4> PLAYER {{i+1}} </h4>
        <p class="demonstrateHealth">Left Weapon: {{ship.shipDepartment.departmentArray[2].health}}&nbsp;&nbsp;Right Weapon: {{ship.shipDepartment.departmentArray[3].health}}</p>
        <p class="demonstrateHealth">Left Engine: {{ship.shipDepartment.departmentArray[1].health}}&nbsp;&nbsp;Right Engine: {{ship.shipDepartment.departmentArray[0].health}}</p>

        <div class="btn-group">
            <button  type="button" class="btn btn-danger  "  id="move1" (click)="move(ship)"> Move </button>
            <button  type="button" class="btn btn-default "  id="shoot" (click)="shoot(ship)"> Shoot </button>
        </div>
        <div class="btn-group">
            <button  type="button" class="btn btn-default " id="left1" (click)="rotateLeft(ship)"> Turn Left </button>
            <button  type="button" class="btn btn-default " id="right1" (click)="rotateRight(ship)"> Turn Right </button>
        </div>
        <div class="btn-group">
            <button  type="button" class="btn btn-default " id="ShieldFront" (click)="shieldUp(ship)" >Shield Front </button>
            <button  type="button" class="btn btn-default " id="ShieldBack" (click)="shieldDown(ship)"> Shield Back </button>
            <button  type="button" class="btn btn-default " id="ShieldLeft" (click)="shieldLeft(ship)"> Shield Left </button>
            <button  type="button" class="btn btn-default " id="ShieldRight"(click)="shieldRight(ship)"> Shield Right</button>
        </div>
    </div>


    <!--<div class="btn-group-vertical col-sm-3" role="group" aria-label="...">-->
        <!--<h4> PLAYER 2 </h4>-->
        <!--<button  type="button" class="btn btn-primary " (click)="move()"> Move </button>-->
        <!--<button  type="button" class="btn btn-default " id="right2"> Turn Right </button>-->
        <!--<button  type="button" class="btn btn-default " id="left2"> Turn Left </button>-->
        <!--<button  type="button" class="btn btn-default "> Shoot </button>-->
        <!--<button  type="button" class="btn btn-default "> Shield Front </button>-->
        <!--<button  type="button" class="btn btn-default "> Shield Back </button>-->
        <!--<button  type="button" class="btn btn-default "> Shield Right</button>-->
        <!--<button  type="button" class="btn btn-default "> Shield Left </button>-->
    <!--</div>-->

    <div align="center" class="col-sm-8">
        <table id="drawing-table">
            <tr *ngFor="let row of battleField?.rowGrid">
                <td *ngFor="let content of row" [ngStyle]="{backgroundColor: content.color ? content.color : 'white'}">&nbsp;</td>
            </tr>
        </table>
        <br>
    </div>
</div>
</body>