
@font-face {
    font-family: "Pixel Twist";
    src: url('PixelTwist.ttf')  format('truetype');
}

@font-face {
    font-family: Pixelade;
    src: url('PIXELADE.ttf')  format('truetype');
}

h1{
    font: 5em "Pixel Twist", serif;
    text-transform: lowercase;
}
h2{
    font: 4em "Pixel Twist", serif;
    text-transform: lowercase;
}
h3{
    font: 3em "Pixel Twist", serif;
    text-transform: lowercase;
}
p{
    font: 2em "Pixelade", serif;

}