

h1{
    font: 3em Helvetica-bold, serif;
}
h2{
    font: 2em Helvetica-bold, serif;
}
h3{
    font: 1.8em Helvetica-bold, serif;
}
p{
    font: 1.2em Helvetica, serif;
}
#HTP{
    font: 1.2em Helvetica, serif;
}